@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  font-family: 'Heebo', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.feature-bg{
  background-image: url('../public/images/features/feature-banner.jpg');
  background-repeat: no-repeat;
  background-position: 0 0.1%;
  background-blend-mode: darken;
  height: 550px;
  background-size: cover;

}
